/* CSS.URALBEK.UZ • v1.0 */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Muallif: Uralbek Tursunov */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
/* Asosiy Top */
#top{position:fixed;width:100%;z-index:1;top:0;background-color:#fff;box-shadow:0 4px 4px 0 rgba(0,0,0,0.12),0 4px 4px 0 rgba(0,0,0,0.20)}
#header{padding-left:24px;padding-top:5px;padding-bottom:5px;-webkit-user-select:none;-ms-user-select:none;user-select:none}
#logotip{font-family:"Oswald";font-size:26px;color:#0095B6;text-shadow:0.5px 0.7px #000}
#soat{text-decoration:none;color:white}
/* Menyu */
div.menyu{position:fixed;top:48.7px;left:0;padding:2px 12px;background-color:#555;color:#fff;font-size:14px}
#mySidebar{display:none;width:220px}
#close{float:right!important;background-color:red;color:white}

/* Scollmenu */
div.scollmenu{background-color: #555;overflow:auto;white-space:nowrap}
div.scollmenu a{display:inline-block;color:#fff;font-size:14px;text-align:center;padding:2px 14px;text-decoration:none}
div.scollmenu a:hover{background-color:#aaa}
/* Left Right */
#oldingi{float:left!important;border-right:50px 0 0 50px;padding:2px 16px;background-color:#0095B6;color:#fff}
#keyingi{float:right!important;border-radius:0 50px 50px 0;padding:2px 16px;background-color:#0095B6;color:#fff}

.connect {
    display: inline-block;
    float: left;
    text-align: left;
    font-size: 12px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 5px solid #fff;
  border-radius: 50%;
  border-top: 5px solid #0095B6;
  border-left: 5px solid #0095B6;
  border-right: 5px solid #0095B6;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

#menu {
    
}